{% extends 'base.html' %}

{% block title %}
Email sent
{% endblock title %}

{% block content %}
    <h1> Check your inbox </h1>
    <p>we have emailed the instructions successfully </p>
{% endblock content %}