{% extends 'base.html' %}

{% block title %} Password Change {% endblock title %}

<h1> Password Change</h1>
<p>please enter your old Password</p>

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success" type="submit">Change my Password</button>
</form>
{% endblock content %}