{% extends 'base.html' %}

{% block title %}
Forget your password ?
{% endblock title %}

{% block content %}
    <h1>Forget password</h1>
    <p>Enter your mail address & we will email instructions for setting a new one </p>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="send me instructions" class="btn btn success">
    </form>
{% endblock content %}