{% extends 'base.html' %}

{% block title %}
Enter new password
{% endblock title %}

{% block content %}
<h1>Set new password</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="change my password" class="btn btn-success">
</form>
{% endblock content %}