{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    Hi {{user.username}}
    <p><a href={% url 'logout' %}>Log Out</a></p>
{% else %}
    <p>You aren't logged in </p>
    <a href={% url 'login' %}>Log In</a>
    <a href={% url 'signup' %}>Sign Up</a>
{% endif %}
{% endblock content %}